@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicLight.ttf') format('truetype');
    font-weight: 300; /* Легкий вес (Light) */
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicBook.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicMedium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicDemi.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicBold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicExtraBold.ttf') format('truetype');
    font-weight: 800; 
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicHeavy.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
}

body {
    font-family: 'Futura PT';
    margin: 0;
    line-height: 1.6;
    color: #000000;
    background-color: #618CF0;
    background-image: url('../img/bg.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-size: 100% auto;
    background-position: center -50px;

}

.container {
    width: 1168px;
    margin: 0 auto;
}

header {
    background: #344681;
    color: #000000;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #ffffff;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 30px 0 52px;
    height: 50px;
}
.header-left {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.logo {
    display: flex;
    padding: 0 62px 0 0;
    align-items: center;
}
.header-left .vertical-border {
    width: 1px;
    height: 50px;
    background-color: #ffffff; 
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 20px; 
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.abo {
    padding: 0 108px 0 108px;
}

.con {
    padding: 0 527px 0 0;
}



.C19 {
    font-weight: 600;
    color: #FFFFFF;
}


.lang img {
    height: 30px;
    display: block;
    margin: 0;
}

.lang img {
    height: 30px;
    display: block;
    margin: 0;
}
.vertical-border {
    width: 1px;
    height: 50px;
    background-color: #ffffff;
    
}

.C19-container {
    display: flex;
    align-items: center;
    gap: 30px; 
}


.C19-container .vertical-border {
    width: 1px;
    height: 50px;
    background-color: #ffffff;
}

.logo .vertical-border {
    width: 2px;
    height: 50px;
    background-color: #ffffff;
    margin-right: 62px; 
    margin-left: 62px; 
}