.performance {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0 0 0;
}



.performance-title {
    font-size: 120px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    
}

.start-btn {
    margin-top: 15px;
    margin-left: 40px;
    position: absolute;
    padding: 28px 33px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 90px;
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
   
    transition: background-color 0.3s ease, color 0.3s ease;
}

.start-btn p
{
    margin: 0;
}

.start-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.scroll-link {
    position: absolute;
    left: 35px; /* Отступ от левого края */
    top: 70%; /* Вертикальное центрирование */
    transform: translateY(-50%); /* Центрирование по вертикали */
    display: flex;
    flex-direction: column; /* Расположить элементы по вертикали */
    align-items: center; /* Центрирование элементов по горизонтали */
    
    transition: color 0.3s ease;
    text-decoration: none;
     position: fixed
}

.scroll-text {
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
    writing-mode: vertical-lr; /* Вертикальное расположение текста */
    margin-bottom: 22px; /* Отступ между текстом и бордером */
  
    font-weight: 400;
    
}

.scroll-border {
    width: 1px; /* Толщина бордера */
    height: 75px; /* Высота бордера */
    background-color: #ffffff; /* Цвет бордера */
 
}

.scroll-text:hover {
    color: #000000; /* Цвет текста при наведении */
}



.cookies-notice {
    
    z-index: 2;
    margin-right: 130px;
    margin: 850px 0 161px 0;
  
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */

    position: fixed
    
}

.cookie-icon {
    z-index: 1;
    width: 163px;
    height: 243px;
    position: relative;
    left: 127px; /* Расположить иконку 20px от левого края */
}

.cookie-content {
    backdrop-filter: blur(40px);   
    border-radius: 22px; /* Закругленные углы */
    padding: 0 0 0 70px;
    width: 683px; /* Ширина контейнера */
    display: flex;
    position: relative;
}

.cookie-content p {
    tab-size: 14px;
    line-height: 14px;
    padding: 0 0px 0 44px;
    margin: 13px 0;
    text-align: start;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;

}

.border {
    width: 1px;
    background-color: #ffffff;
    margin: 0 20px;
  
}

.accept-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    background-color: transparent;
   
  
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    font-size: 25px;
    font-weight: 500;
    backdrop-filter: blur(40px);   
    border-top-right-radius: 22px; 
    border-bottom-right-radius: 22px;  
    line-height: 15px;
}
.accept-btn:hover
{
    color: #ffffff;
}



@media (max-width: 1615px) {
    .performance-title
    {
        font-size: 100px;
        font-weight: 700;
        line-height: 1;
        margin: 0;
          /* max-width:100%;
         height:auto; */
    }
    
    .start-btn {
        margin-top: 15px;
        margin-left: 40px;
      
        padding: 25px 33px;
       
       
        font-size: 20px;
        
       
    }
}
@media (max-width: 1080px) {
    .performance {
     
        height: 60vh;
        
    }
    .performance-title
    {
        font-size: 80px;
    
    }
    
    .start-btn {
        margin-top: 15px;
        margin-left: 40px;
      
        padding: 25px 33px;
       
       
        font-size: 20px;
        
        
       
    }

 
}

/* ipad...mobile */
@media (max-width: 1024px) {

    .start-btn {
        margin-top: 200px;
        margin-left: -340px;
      
        padding: 19px 23px;
       
        font-size: 22px;
        
       
    }







    .border {
        width: 12px;
        background-color: #ffffff;
        margin: 0 20px;
      
    }
      

.cookies-notice {
    
    z-index: 2;
    margin-right: 130px;
    margin: 850px 0 161px 0;
  
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: center; 
    justify-content: center; 

    position: fixed
    
}

.cookie-icon {
    z-index: 1;
    width: 163px;
    height: 243px;
    position: relative;
    left: 127px; 
}

.cookie-content {
    backdrop-filter: blur(40px);   
    border-radius: 22px; 
    padding: 0 0 0 70px;
    width: 316px;
    display: block;
    position: relative;
}

.cookie-content p {
    tab-size: 14px;
    line-height: 14px;
    padding: 0 0px 0 44px;
    margin: 13px 0;
    text-align: start;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;

}

}

@media (max-width: 666px) {

    .start-btn {
        margin-top: 150px;
        margin-left: -173px;
      
        padding: 15px 18px;
       
        font-size: 16px;
        
       
    }
    .performance-title
    {
        font-size: 40px;
        
    }
    .performance {
       
        height: 50vh;
      
    }

}

