.border-start{
    width: 100%;
    height: 2px;
    background-color: #ffffff; 
  
}

.quality-section {
    display: flex;
    flex-direction: column;
     
  
    margin: 0 auto;
    color: #ffffff;
    padding: 134px 0 0 0;
}

.quality-item {
    display: flex;
 
    gap: 20px; /* Расстояние между текстом и изображением */
}

.quality-item.reverse {
    flex-direction: row-reverse; /* Изменяем порядок элементов */
}

.text-content {
    flex: 1;
   
}
.left-text
{
    padding: 0 0 0 230px;
}
.right-text 
{
    text-align: right;
    align-items: flex-end; 
    display: flex;
    flex-direction: column; /* Элементы идут сверху вниз */
    justify-content: flex-end;
    padding: 0 230px 0 0;
}

.individual-text
{
    padding: 270px 0 0 230px;
}

.text-content h3 {
    font-size: 45px;
    margin-bottom: 50px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 40px 0;

 
}

.text-content p {
    
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;

}

.image-content {
    flex: 1;
    text-align: center;
 
}

.image-content img {
    
    height: auto;
    border-radius: 10px;
    background-size: 100% auto;

}
.border-end{
    width: 100%;
    height: 2px;
    background-color: #ffffff; 
    margin: -7px 0 0 0;
}


@media (max-width: 1160px) {
    .quality-item {
        flex-direction: column;
        text-align: left;
        align-items: center;
    }
    .quality-item.reverse {
        flex-direction: column;
        text-align: left;   
        align-items: center;
         
    }
   

    .text-content {
        max-width: 100%;
    }

    .left-text
    {
        padding: 0px 20px;
    }

    .right-text 
    {
    
        padding: 0px 20px;
    }

    .individual-text
    {
        padding: 0px 20px;
    }
   

    .image-content img {
    
        height: auto;
        background-size: 100% auto;
       
        
    }
    .img-note{
        margin-left: 500px;
        
    }

    .img-phone
    {
        margin-left: -500px;
        
    }

    .img-cactus{
        margin-left: 500px;
        margin: 0 0 0 100px;
        width: 70%;
    }
}
