.work-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
   
}

.secondary-title {
   color: rgb(255, 255, 255);
    margin-bottom: 20px; 
    font-weight: bold;
    font-size: 60px;
    -webkit-text-stroke: 1px black; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 198px;
    padding: 89px 0 185px 0;

}


.grid-item {
  
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    font-size: 18px;
    width: 210px;
    height: 230px;
}

.grid-item-white
{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
   color: rgb(255, 255, 255);
}

.grid-item h3{
    margin: 0;
}

.grid-item p{
font-weight: 400;
font-size: 16px;
line-height: 18px;
margin: 0;
padding: 14px 10px 0 10px;
}

.icon{
    padding: 26px 0 11px 0;
}
.blur-section {
    width: 100%; 
    height: 500px;
 
    background-color: #618CF0; 
    position: relative; 
    margin: 0 auto; 
    z-index: -1;

    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(103, 143, 242, 1) 100%
    ); /* Градиент для эффекта размытия */
    backdrop-filter: blur(10px); /* Непосредственное размытие */
   
}

@media (max-width: 1200px) {
    .grid-container {
gap: 80px;    }
}
@media (max-width: 1000px) {
    .grid-container {
    gap: 50px;    
}
}

@media (max-width: 868px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 элемента в строке */
    }
}

@media (max-width: 630px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 элемент в строке */
    }
}

